<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
   <div class="starter-template">
        <h1>Ejemplo Spring Boot Web Thymeleaf </h1>
        <h2>
            <span th:text="'Bienvenido'"></span>
        </h2>
    </div>
    

    <div class="menu">
        <a th:href="@{/contratos/nuevo}">Cargar Contratos</a>
		<a th:href="@{/contratos/modificar}">Modificar Contratos</a>

    </div>

</body>
</html>