<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado Publicaciones</title>
</head>

<body>

	<h1 class="publicaciones-title">Publicaciones</h1>

	<table class="publicaciones-table">
<br><br>

<table border="1">

    <thead>
        <tr>
            <th>ID</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Propiedad</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="pub : ${publicaciones}">
            <td th:text="${pub.id}"></td>
            <td th:text="${pub.precioMensual}"></td>
            <td th:text="${pub.estado}"></td>
            <td th:text="${pub.fechaPublicacion}"></td>
            <td th:text="${pub.propiedad.descripcion}"></td>
        </tr>
    </tbody>

</table>

</body>
</html>