<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publicaciones</title>
</head>
<body>

<h1>Módulo Publicaciones</h1>

<p>Funcionalidad implementada por el equipo de Publicaciones.</p>

<h3>Consultas disponibles</h3>

<ul>
    <li>
		<a href="/listadoPublicaciones">
		    Listar Publicaciones (vista WEB)
		</a>
        
    </li>

    <li>
        <a href="/publicaciones/estado">
            Consultar Estado de Publicaciones
        </a>
    </li>
</ul>

<a href="/">Volver al inicio</a>

</body>
</html>